[bumpversion]
current_version = 0.1.0
commit = True
tag = True

[bumpversion:file:VERSION]

[bumpversion:file:playbook.yml]
parse = {{cookiecutter.playbook_name}} v(?P<major>\d+)\.(?P<minor>\d+)\.(?P<patch>\d+)
